<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Edit Note</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item">User</li>
        <li class="breadcrumb-item active">Change Password</li>
    </ol>
</nav>
<message th:replace="layout :: message"/>

<div class="container">

    <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert">
        Error Text
    </div>

    <div th:if="${success}" th:text="${success}" class="alert alert-success" role="alert">
        Success
    </div>

    <div class="list-group">
        <div class="list-group-item">
            <form id="changePasswordForm" action="#" th:action="@{/admin/user/changepassword}" method="post">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <div class="form-group">
                    <label for="reTypePassword">Re-Type Password</label>
                    <input type="password" class="form-control" id="reTypePassword" name="reTypePassword" />
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
    <br />
    <div class="alert alert-primary" role="alert">
        Password needs to have more than 4 chars
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>