<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Data Explorer</li>
        <li class="breadcrumb-item active" th:inline="text" th:if="${timeSeries != null}">[[${timeSeries.name}]] &nbsp;&nbsp;<a href="#" onclick="$('#standard-modal-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/noteviewer/(timeSeriesId=${timeSeries.id})}" data-toggle="modal" data-target="#standardModal" class="fa fa-info"></a></li>
    </ol>
</nav>

<div class="container-fluid">
    <th:block th:if="${timeSeries != null}">
    <div class="row">
        <div class="col" style="max-width:500px;">
            <div style="width:450px;overflow:hidden">
            <li class="list-group-item">
                <span style="margin-left:0px;margin-right:0px"></span>
                <form id="seriesNameSearchForm" th:action="@{/dataexplorer/searchseries}" method="post">
                    <div class="input-group">
                        <div style="width:360px">
                            <div class="autocomplete" id="autocompletecontainer">
                                <input type="text" th:value="${seriesNameSearch}" class="form-control" name="seriesNameSearch" id="autocompleteinput" autocomplete="off"/>
                            </div>
                        </div>
                        <span class="input-group-btn">
                            <a th:if="${searchActive}" th:href="@{/dataexplorer/searchseriesreset}" id="resetSearch" class="btn btn-default"><span class="fa fa-remove"></span></a>
                            <button th:unless="${searchActive}" class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                </form>
            </li>
            <div th:utext="${browser}">
            </div>
            </div>
            <a th:href="@{/dataexplorer/search}" class="fa fa-search">Search</a>
        </div>
        <div class="col-6"> <!-- style="padding-top:0px;margin-top:0px" -->
            <div th:if="${observationsPage.totalPages  > 0}">
                <div th:replace="components/pagination :: pagination(path='/dataexplorer/' + ${timeSeries.id}, page=${observationsPage})"></div>
                <!-- <div style="float:right"><a th:href="@{/informationretrieval/publishingconfigurationedit}" class="fa fa-plus fa-2x" title="Add Publishing Configuration" alt="Add Publishing Configuration"></a>&nbsp;&nbsp;&nbsp;</div> -->
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'observation_time','scalar_value'} },sortables=${ {'observation_time'} },names=${ {'Time','Value'} },page=${observationsPage},path='/dataexplorer/' + ${timeSeries.id})" />
                    </thead>
                    <tbody>
                    <tr th:each="observation : ${observationsPage.content}">
                        <td><span th:if="${observation.observationTime != null}" th:inline="text">[[${dateFormatUtil.formatSimpleTimeAndDateString(observation.observationTime)}]]</span></td>
                        <td><span th:if="${observation.observationTime != null}"><a href="#" onclick="$('#standard-modal-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/dataexplorer/viewobservation/{timeseriesid}/{observationtime}/{sourceid}(timeseriesid=${observation.timeSeriesId},observationtime=${dateFormatUtil.formatToISO8601TimeAndDateString(observation.observationTime)},sourceid=${#uris.escapePathSegment(observation.sourceId)})}" data-toggle="modal" data-target="#standardModal">[[${observation.scalarValue}]]</a></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </th:block>
    <th:block th:unless="${timeSeries != null}">
        <div>
            You have no time series yet, you can create one <a th:href="@{/admin/timeseries}">here</a>
        </div>
    </th:block>
</div>

<script>
    function closeAllLists() {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            x[i].parentNode.removeChild(x[i]);
        }
    }

    $('#autocompleteinput').keyup(function () {
        $.ajax({
            url:        'dataexplorersuggestseries',
            data: {search: this.value},
            success:    function(data){
                closeAllLists();

                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                a.setAttribute("style", "position: absolute;border: 1px solid #d4d4d4;border-bottom: none;border-top: none;z-index: 99;top: 100%;left: 0;right: 0;");

                $('#autocompletecontainer').append(a);

                $.each(data , function( idx, suggest ) {
                    console.log( idx + ": " + suggest ); // Key : 10
                    console.log(suggest);

                    b = document.createElement("DIV");
                    b.setAttribute("style", "padding: 10px;cursor: pointer;background-color: #fff;border-bottom: 1px solid #d4d4d4;");

                    //Use lowercase to match tokens from search
                    lowercasehint = suggest.positionHint.toLowerCase();
                    lowercasesnippet = suggest.snippet.toLowerCase();

                    //Split '§' into single tokens for nicer highlights
                    acinput = $('#autocompleteinput').val().replaceAll('§', '§ ');

                    //Highlight each token in suggest
                    tokens = acinput.split(" ");

                    for (var i = 0; i < tokens.length; i++) {

                        if (tokens[i].length > 0) {

                            //Highlight all occurences of single token in lowercasehint and lowercasesnippet
                            lowercasehint  = lowercasehint.replaceAll(tokens[i].toLowerCase(), "<strong>" + tokens[i].toLowerCase() + "</strong>");
                            lowercasesnippet = lowercasesnippet.replaceAll(tokens[i].toLowerCase(), "<strong>" + tokens[i].toLowerCase() + "</strong>");

                            //Identify position of each occurence, and copy them one by one to the original snippet that is not lowercase
                            while (lowercasehint.includes("<strong>")) {
                                strongStart = lowercasehint.indexOf("<strong>");
                                output = [suggest.positionHint.slice(0, strongStart), "<strong>", suggest.positionHint.slice(strongStart)].join('');
                                strongEnd = strongStart + ("<strong>" + tokens[i]).length;
                                output = [output.slice(0, strongEnd), "</strong>", output.slice(strongEnd)].join('');
                                suggest.positionHint = output;

                                //Don't change string length and positions but remove <strong> tag
                                lowercasehint = lowercasehint.replace("<strong>","XXXXXXXX");
                                lowercasehint = lowercasehint.replace("</strong>","XXXXXXXXX");
                            }

                            //Identify position of each occurence, and copy them one by one to the original snippet that is not lowercase
                            while (lowercasesnippet.includes("<strong>")) {
                                strongStart = lowercasesnippet.indexOf("<strong>");
                                output = [suggest.snippet.slice(0, strongStart), "<strong>", suggest.snippet.slice(strongStart)].join('');
                                strongEnd = strongStart + ("<strong>" + tokens[i]).length;
                                output = [output.slice(0, strongEnd), "</strong>", output.slice(strongEnd)].join('');
                                suggest.snippet = output;

                                //Don't change string length and positions but remove <strong> tag
                                lowercasesnippet = lowercasesnippet.replace("<strong>","XXXXXXXX");
                                lowercasesnippet = lowercasesnippet.replace("</strong>","XXXXXXXXX");
                            }
                        }
                    }

                    b.innerHTML = "<span style='color:gray;font-size:8pt'>" + suggest.positionHint + "</span><br/>" + suggest.snippet;
                    b.innerHTML += "<input type='hidden' value='" + suggest.snippetIdxId + "'>";

                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        console.log('Selected value ' + this.getElementsByTagName("input")[0].value);
                        $('#autocompleteinput').val(this.getElementsByTagName("input")[0].value);
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        snippetIdxId = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                        //window.location = '/opensearchresult/' + snippetIdxId;
                    });
                    a.appendChild(b);
                });
            }
        });
    });

    document.addEventListener("click", function (e) {
        closeAllLists();
    });
</script>

<footer th:replace="layout :: site-footer" />
</body>
</html>