<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<div style="float:right;">

</div>
<div style="padding-top:20px" th:inline="text">
    <h3 th:inline="text">[[${observation.scalarValue}]]</h3> ([[${observation.observationTime}]])
</div>
<div style="padding-top:20px" th:inline="text">
    Source Id: [[${observation.sourceId}]]
</div>
<div style="padding-top:20px" th:inline="text">
    [[${observation.getComplexValueFragmentForName('mainText')}]]
</div>
<div style="padding-top:100px">
    <table>
        <tr th:each="metadata : ${observation.metaData}">
            <td th:text="${metadata.key}">name</td>
            <td th:text="${metadata.value}">value</td>
        </tr>
    </table>
</div>
<a th:href="@{/dataexplorer/observationedit/{timeseriesid}/{observationtime}/{sourceid}(timeseriesid=${observation.timeSeriesId},observationtime=${dateFormatUtil.formatToISO8601TimeAndDateString(observation.observationTime)},sourceid=${#uris.escapePathSegment(observation.sourceId)})}" class="fa fa-pencil" title="Edit" alt="Edit"></a>

<form id="sendToActivityForm" th:action="@{/dataexplorer/observationsendtoactivity/{timeseriesid}/{observationtime}/{sourceid}(timeseriesid=${observation.timeSeriesId},observationtime=${dateFormatUtil.formatToISO8601TimeAndDateString(observation.observationTime)},sourceid=${#uris.escapePathSegment(observation.sourceId)})}" method="post">
<div class="form-group">
    <label for="sendToActivityId">Send Observation to Activity</label>
    <select class="form-control" id="sendToActivityId" name="sendToActivityId">
        <option th:each="activity : ${allActivities}"
                th:value="${activity.id}"
                th:text="${activity.name}">
            Activities
        </option>
    </select>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!--
<div style="padding-top:20px">
    <t:pagelink page="observation/genericobservationmanager" context="editingContextParameters">Edit</t:pagelink>
</div>
<div style="padding-top:20px">
    <t:form t:id="sendToActivityForm" autofocus="false">
        <t:select t:id="sendToActivity" t:value="sendToActivity" model="allActivities" encoder="allActivities" />
        <button type="submit">Send observation to activity</button>
    </t:form>
</div>
-->
</body>
</html>