<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Data Explorer</li>
        <li class="breadcrumb-item active">Search</li>
    </ol>
</nav>

<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            <form id="searchForm" th:action="@{/dataexplorer/search}" th:object="${searchCriteria}" method="post">
                <div class="form-group">
                    <label for="allQuery">All Query</label>
                    <input type="text" class="form-control" id="allQuery" th:field="*{allQuery}" />
                </div>
                <div class="form-group">
                    <label for="scalarValueQuery">Scalar Value</label>
                    <input type="text" class="form-control" id="scalarValueQuery" th:field="*{scalarValueQuery}" />
                </div>
                <div class="form-group">
                    <label for="autocompletecontainer">Time Series ID</label>
                    <div class="autocomplete" id="autocompletecontainer">
                        <input type="text" class="form-control" th:field="*{seriesId}" id="autocompleteinput" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateFrom">Date From</label>
                        <input type="text" class="form-control" id="dateFrom" th:field="*{dateFrom}" placeholder="yyyy-MM-dd" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dateTo">Date To</label>
                        <input type="text" class="form-control" id="dateTo" th:field="*{dateTo}" placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div th:if="${not #lists.isEmpty(searchCriteria.complexValueQueryKeys)}" class="form-row" th:each="complexValueQueryKey, stat : ${searchCriteria.complexValueQueryKeys}">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" th:field="*{complexValueQueryKeys[__${stat.index}__]}" />
                    </div>
                    <div class="form-group col-md-8">
                        <input type="text" class="form-control" th:field="*{complexValueQueryValues[__${stat.index}__]}"/>
                    </div>
                    <div class="form-group col-md-1">
                        <a th:href="@{/dataexplorer/searchdeletecomplexvaluequery/{complexValueIdx}(complexValueIdx=${stat.index})}" class="fa fa-trash-o" title="Add Complex Value Query" alt="Add Complex Value Query"></a>
                    </div>
                </div>
                <div>
                    <a th:href="@{/dataexplorer/searchaddcomplexvaluequery}" class="fa fa-plus" title="Add Complex Value Query" alt="Add Complex Value Query"></a>
                </div>
                    <!--
                <p><b>Complex Value</b></p>
                <div class="container-fluid">
                    <t:loop formState="iteration" source="complexValueQuery.keySet()" value="complexValueKeyLoop">
                        <div class="row">
                            <div class="col-md-1" style="width: 40%;"><t:textfield t:id="complexValueKey" t:value="complexValueKey" placeholder="Key" /></div>
                            <div class="col-md-2" style="width: 40%;"><t:textfield t:id="complexValueValue" t:value="complexValueValue" placeholder="Value" /></div>
                            <div class="col-md-3" style="width: 40px;"><t:actionlink t:id="deleteComplexValueFragment" context="complexValueKeyLoop"  class="glyphicon glyphicon-minus"></t:actionlink></div>
                        </div>
                    </t:loop>
                </div>
                <t:actionlink t:id="addComplexValueFragment" class="glyphicon glyphicon-plus" title="Add complex value fragment" alt="Add complex value fragment"></t:actionlink>
                <p><b>Meta Data</b></p>
                <div class="container-fluid">
                    <t:loop formState="iteration" source="metaDataQuery.keySet()" value="metaDataKeyLoop">
                        <div class="row">
                            <div class="col-md-1" style="width: 40%;"><t:textfield t:id="metaDataKey" t:value="metaDataKey" placeholder="Key" /></div>
                            <div class="col-md-2" style="width: 40%;"><t:textfield t:id="metaDataValue" t:value="metaDataValue" placeholder="Value" /></div>
                            <div class="col-md-3" style="width: 40px;"><t:actionlink t:id="deleteMetaDataFragment" context="metaDataKeyLoop" class="glyphicon glyphicon-minus"></t:actionlink></div>
                        </div>
                    </t:loop>
                </div>
                <t:actionlink t:id="addMetaDataFragment" class="glyphicon glyphicon-plus" title="Add meta data fragment" alt="Add meta data fragment"></t:actionlink>
                -->
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a th:href="@{/dataexplorer/searchreset}" id="cancel" name="cancel" class="btn btn-danger">Reset</a>
            </form>
        </div>
    </div>
</div>

<div th:if="${resultsPage != null}">
    <br />
    <br />
    <br />
    <div th:replace="components/pagination :: pagination(path='/dataexplorer/search/', page=${resultsPage})"></div>

    <table class="table table-striped table-responsive-md">
        <thead>
        <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'observation_time','scalar_value'} },sortables=${ {'observation_time'} },names=${ {'Time','Value'} },page=${resultsPage},path='/dataexplorer/search/')" />
        </thead>
        <tbody>
        <tr th:each="observation : ${resultsPage.content}">
            <td><span th:if="${observation.observationTime != null}" th:inline="text">[[${dateFormatUtil.formatSimpleTimeAndDateString(observation.observationTime)}]]</span></td>
            <td><span th:if="${observation.observationTime != null}"><a href="#" onclick="$('#standard-modal-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/dataexplorer/viewobservation/{timeseriesid}/{observationtime}/{sourceid}(timeseriesid=${observation.timeSeriesId},observationtime=${dateFormatUtil.formatToISO8601TimeAndDateString(observation.observationTime)},sourceid=${#uris.escapePathSegment(observation.sourceId)})}" data-toggle="modal" data-target="#standardModal">[[${observation.scalarValue}]]</a></span></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function closeAllLists() {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            x[i].parentNode.removeChild(x[i]);
        }
    }

    $('#autocompleteinput').keyup(function () {
        $.ajax({
            url:        'searchsuggestseries',
            data: {search: this.value},
            success:    function(data){
                closeAllLists();

                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                a.setAttribute("style", "position: absolute;border: 1px solid #d4d4d4;border-bottom: none;border-top: none;z-index: 99;top: 100%;left: 0;right: 0;");

                $('#autocompletecontainer').append(a);

                $.each(data , function( idx, suggest ) {
                    console.log( idx + ": " + suggest ); // Key : 10
                    console.log(suggest);

                    b = document.createElement("DIV");
                    b.setAttribute("style", "padding: 10px;cursor: pointer;background-color: #fff;border-bottom: 1px solid #d4d4d4;");

                    //Use lowercase to match tokens from search
                    lowercasehint = suggest.positionHint.toLowerCase();
                    lowercasesnippet = suggest.snippet.toLowerCase();

                    //Split '§' into single tokens for nicer highlights
                    acinput = $('#autocompleteinput').val().replaceAll('§', '§ ');

                    //Highlight each token in suggest
                    tokens = acinput.split(" ");

                    for (var i = 0; i < tokens.length; i++) {

                        if (tokens[i].length > 0) {

                            //Highlight all occurences of single token in lowercasehint and lowercasesnippet
                            lowercasehint  = lowercasehint.replaceAll(tokens[i].toLowerCase(), "<strong>" + tokens[i].toLowerCase() + "</strong>");
                            lowercasesnippet = lowercasesnippet.replaceAll(tokens[i].toLowerCase(), "<strong>" + tokens[i].toLowerCase() + "</strong>");

                            //Identify position of each occurence, and copy them one by one to the original snippet that is not lowercase
                            while (lowercasehint.includes("<strong>")) {
                                strongStart = lowercasehint.indexOf("<strong>");
                                output = [suggest.positionHint.slice(0, strongStart), "<strong>", suggest.positionHint.slice(strongStart)].join('');
                                strongEnd = strongStart + ("<strong>" + tokens[i]).length;
                                output = [output.slice(0, strongEnd), "</strong>", output.slice(strongEnd)].join('');
                                suggest.positionHint = output;

                                //Don't change string length and positions but remove <strong> tag
                                lowercasehint = lowercasehint.replace("<strong>","XXXXXXXX");
                                lowercasehint = lowercasehint.replace("</strong>","XXXXXXXXX");
                            }

                            //Identify position of each occurence, and copy them one by one to the original snippet that is not lowercase
                            while (lowercasesnippet.includes("<strong>")) {
                                strongStart = lowercasesnippet.indexOf("<strong>");
                                output = [suggest.snippet.slice(0, strongStart), "<strong>", suggest.snippet.slice(strongStart)].join('');
                                strongEnd = strongStart + ("<strong>" + tokens[i]).length;
                                output = [output.slice(0, strongEnd), "</strong>", output.slice(strongEnd)].join('');
                                suggest.snippet = output;

                                //Don't change string length and positions but remove <strong> tag
                                lowercasesnippet = lowercasesnippet.replace("<strong>","XXXXXXXX");
                                lowercasesnippet = lowercasesnippet.replace("</strong>","XXXXXXXXX");
                            }
                        }
                    }

                    b.innerHTML = "<span style='color:gray;font-size:8pt'>" + suggest.positionHint + "</span><br/>" + suggest.snippet;
                    b.innerHTML += "<input type='hidden' value='" + suggest.snippetIdxId + "'>";

                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        console.log('Selected value ' + this.getElementsByTagName("input")[0].value);
                        $('#autocompleteinput').val(this.getElementsByTagName("input")[0].value);
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        snippetIdxId = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                        //window.location = '/opensearchresult/' + snippetIdxId;
                    });
                    a.appendChild(b);
                });
            }
        });
    });

    document.addEventListener("click", function (e) {
        closeAllLists();
    });
</script>

<footer th:replace="layout :: site-footer" />
</body>
</html>