<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Scheduler</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb" style="border-radius: 0;">
    <ol class="breadcrumb" style="border-radius: 0;">
        <li class="breadcrumb-item active">Scheduler</li>
    </ol>
</nav>

<h3>All Jobs</h3>
    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Schedule</th>
                <th>Next Fire Time</th>
                <th>Pause</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${schedulerService.allRunningJobs}">
            <td th:text="${job}"></td>
            <td th:text="${schedulerService.getNextFireTime(#strings.arraySplit(job, '.')[1] + 'Trigger')}"></td>
            <td>
                <span th:if="${schedulerService.isPaused(#strings.arraySplit(job, '.')[1] + 'Trigger')}">
                    <a th:href="@{/admin/scheduler/jobresume/{job}(job=${job})}" class="fa fa-play" alt="Resume Job" title="Resume Job"></a>
                </span>
                <span th:unless="${schedulerService.isPaused(#strings.arraySplit(job, '.')[1] + 'Trigger')}">
                    <a th:href="@{/admin/scheduler/jobpause/{job}(job=${job})}" class="fa fa-pause" alt="Pause Job" title="Pause Job"></a>
                </span>
            </td>
            <td>
                <a th:href="@{/admin/scheduler/jobdelete/{job}(job=${job})}" class="fa fa-trash-o" alt="Delete Job" title="Delete Job"></a>
            </td>
        </tr>
        </tbody>
    </table>

<h3>All Triggers</h3>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trigger : ${schedulerService.allTriggers}">
            <td th:text="${trigger}"></td>
        </tr>
        </tbody>
    </table>
<footer th:replace="layout :: site-footer" />
</body>
</html>