<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Activities</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/publishing/}">Publishing</a></li>
        <li class="breadcrumb-item active">Edit Publishing Configuration</li>
    </ol>
</nav>

<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            <form id="activityForm" action="#" th:action="@{/publishing/publishingconfigurationedit}" th:object="${publishingConfiguration}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{cronScheduleEnabled}" />
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name not valid</div>
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                </div>
                <div class="form-group">
                    <label for="uri">URI</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('uri')}" th:errors="*{uri}">URI not valid</div>
                    <input type="text" class="form-control" id="uri" th:field="*{uri}" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="cronSchedule">Cron Schedule</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('cronSchedule')}" th:errors="*{cronSchedule}">Cron Schedule not valid</div>
                    <input type="text" class="form-control" id="cronSchedule" th:field="*{cronSchedule}" />
                </div>
                <div class="form-group">
                    <label for="publishingCategory">Category</label>
                    <select class="form-control" id="publishingCategory" th:field="*{publishingCategory.id}">
                        <option th:value="0" text=""></option>
                        <option th:each="publishingCategory : ${allPublishingCategories}"
                                th:value="${publishingCategory.id}"
                                th:text="${publishingCategory.name}">
                            Publishing Categories
                        </option>
                    </select>
                </div>
                <!--
                <div class="form-check">
                    <div class="text-danger" th:if="${#fields.hasErrors('embedInLayout')}" th:errors="*{embedInLayout}">Embed in Layout not valid</div>
                    <input type="checkbox" class="form-check-input" id="embedInLayout" th:field="*{embedInLayout}" />
                    <label for="embedInLayout" class="form-check-label">Embed in Layout</label>
                </div>
                -->
                <div class="form-group">
                    <label for="layoutIntegration">Layout Integration</label>
                    <select class="form-control" id="layoutIntegration" th:field="*{layoutIntegration}">
                        <option th:value="NONE" text="">NONE</option>
                        <option th:value="publishing_viewer_layout_integration_full.html">FULL (publishing_viewer_layout_integration_full.html)</option>
                        <option th:value="publishing_viewer_layout_integration_minimal.html">MINIMAL [CSS/JS] (publishing_viewer_layout_integration_minimal.html)</option>
                    </select>
                </div>
                <div class="form-check">
                    <div class="text-danger" th:if="${#fields.hasErrors('lockedForEditing')}" th:errors="*{lockedForEditing}">Locked for Editing not valid</div>
                    <input type="checkbox" class="form-check-input" id="lockedForEditing" th:field="*{lockedForEditing}" />
                    <label for="lockedForEditing" class="form-check-label">Locked for Editing</label>
                </div>
                <div class="form-check">
                    <div class="text-danger" th:if="${#fields.hasErrors('lockedForCacheUpdate')}" th:errors="*{lockedForCacheUpdate}">Locked for Cache Update not valid</div>
                    <input type="checkbox" class="form-check-input" id="lockedForCacheUpdate" th:field="*{lockedForCacheUpdate}" />
                    <label for="lockedForCacheUpdate" class="form-check-label">Locked for Cache Update</label>
                </div>
                <div class="form-group">
                    <label for="publishingVisibility">Publishing Visibility</label>
                    <select class="form-control" id="publishingVisibility" th:field="*{publishingVisibility}">
                        <option value="Intern" text="">Intern</option>
                        <option value="Cache for All" text="">Cache for All</option>
                        <option value="Public" text="">Public</option>
                    </select>
                </div>
                <div class="form-check">
                    <div class="text-danger" th:if="${#fields.hasErrors('allowInternalLoad')}" th:errors="*{allowInternalLoad}">Allow internal load error</div>
                    <input type="checkbox" class="form-check-input" id="allowInternalLoad" th:field="*{allowInternalLoad}" />
                    <label for="allowInternalLoad" class="form-check-label">Always Allow Load from 127.0.0.1 (required for background load and scheduled autoload)</label>
                </div>
                <div class="form-group">
                    <label for="publishingStrategy">Publishing Strategy</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('publishingStrategy')}" th:errors="*{publishingStrategy}">Groovy code not valid</div>
                    <textarea class="form-control" id="publishingStrategy" th:field="*{publishingStrategy}" style="height:600px" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{/activity/}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
            </form>
            <block th:if="${publishingConfiguration.id != null}">
            <br/><br/><br/>
            <h3>Publishing Resources</h3>
            <div style="float:right"><a th:href="@{/publishing/publishingresourceedit/{publishingConfigurationId}(publishingConfigurationId=${publishingConfiguration.id})}" class="fa fa-plus fa-2x" title="Add Publishing Resource" alt="Add Publishing Resource"></a>&nbsp;&nbsp;&nbsp;</div>
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="publishingResource : ${publishingResources}">
                        <td th:text="${publishingResource.id}"></td>
                        <td th:text="${publishingResource.title}"></td>
                        <td><a th:href="@{/publishing/publishingresourceedit/{publishingConfigurationId}/{publishingResourceId}(publishingConfigurationId=${publishingConfiguration.id},publishingResourceId=${publishingResource.id})}" class="fa fa-pencil" alt="Edit" title="Edit"></a></td>
                        <td><a th:attr="data-href=@{/publishing/publishingresourcedelete/{publishingResourceId}(publishingResourceId=${publishingResource.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            <h3>Shared Data of this Publication</h3>

            <div th:replace="components/pagination :: pagination(path='/publishing/publishingconfigurationedit/'  + ${publishingConfiguration.id}, page=${publishingSharedDataPage})"></div>

            <table class="table table-striped table-responsive-md">
                <thead>
                <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'id','key','textdata','delete'} },sortables=${ {'id','key'} },names=${ {'ID','Key','Text Data','Delete'} },page=${publishingSharedDataPage},path='/publishing/publishingconfigurationedit/' + ${publishingConfiguration.id})" />
                </thead>
                <tbody>
                <tr th:each="publishingSharedData : ${publishingSharedDataPage.content}">
                    <td th:text="${publishingSharedData.id}"></td>
                    <td th:text="${publishingSharedData.dataKey}"></td>
                    <td>
                        <div th:attr="id='publishingSharedData' + ${publishingSharedData.id}" style="display:none">
                            <pre style="border:0;background-color:transparent;white-space:pre-wrap;">
                                <span th:inline="text">[[${publishingSharedData.textData}]]</span>
                            </pre>
                        </div>
                        <span th:attr="id='openpublishingSharedData' + ${publishingSharedData.id}"> <a href="javascript:void(0);" th:attr="shared-data-id=${publishingSharedData.id}" class='fa fa-plus' onclick="document.getElementById('publishingSharedData' + $(this).attr('shared-data-id')).style.display='block';document.getElementById('openpublishingSharedData' + $(this).attr('shared-data-id')).style.display='none';document.getElementById('closepublishingSharedData' + $(this).attr('shared-data-id')).style.display='inline';"></a></span>
                        <span th:attr="id='closepublishingSharedData' + ${publishingSharedData.id}" style='display:none'> <a href="javascript:void(0);" th:attr="shared-data-id=${publishingSharedData.id}" class='fa fa-minus' onclick="document.getElementById('publishingSharedData' + $(this).attr('shared-data-id')).style.display='none';document.getElementById('openpublishingSharedData' + $(this).attr('shared-data-id')).style.display='inline';document.getElementById('closepublishingSharedData' + $(this).attr('shared-data-id')).style.display='none';"></a></span>
                    </td>
                    <td>
                        <a th:attr="data-href=@{/publishing/publishingshareddatadelete/{id}(id=${publishingSharedData.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            </block>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>