<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Edit Note</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/note/}">Notes</a></li>
        <li class="breadcrumb-item active">Edit Note<span th:if="${note != null}" th:inline="text">: [[${note.title}]]</span></li>
    </ol>
</nav>
<message th:replace="layout :: message"/>

<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            <form id="noteForm" action="#" th:action="@{/admin/note/noteedit}" th:object="${note}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="title">Title</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title not valid</div>
                    <input type="text" class="form-control" id="title" th:field="*{title}" />
                </div>
                <div class="form-group">
                    <label for="noteCategory">Category</label>
                    <select class="form-control" id="noteCategory" th:field="*{noteCategory.id}">
                        <option th:value="0" text=""></option>
                        <option th:each="noteCategory : ${allNoteCategories}"
                                th:value="${noteCategory.id}"
                                th:text="${noteCategory.name}">
                            Note Category
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content code not valid</div>
                    <!-- <textarea class="form-control" id="content" style="height:600px" th:field="*{content}" /> -->
                    <textarea id="content" th:field="*{content}"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a th:href="@{/admin/note/note/}" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
            </form>

            <div th:if="${note.id != null}">
                <br />
                <br />
                <br />
                <h3>Attached Files</h3>
                <div id="noteFileFormDivLink" style="float:right">
                    <a onclick="$('#noteFileFormDiv').toggle();" class="fa fa-plus" title="Add File"></a>
                </div>
                <div id="noteFileFormDiv" style="display:none">
                    <form enctype="multipart/form-data" th:action="@{/admin/note/notefileupload}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="noteFile">File</label>
                            <input class="form-control" type="file" name="noteFile" id="noteFile" />
                        </div>
                        <div class="form-group">
                            <label for="noteFileComment">Comment</label>
                            <textarea class="form-control"  id="noteFileComment" style="width:400px;height:300px" name="noteFileComment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload File</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'id','filename','comment','delete'} },sortables=${ {'id'} },names=${ {'ID','Filename','Comment','Delete'} },page=${noteFilesPage},path='/admin/note/noteedit' + ${note.id})" />
                    </thead>
                    <tbody>
                    <tr th:each="note : ${noteFilesPage.content}">
                        <td th:text="${note.id}"></td>
                        <td><a th:href="@{/admin/note/notefiledownload/{id}(id=${note.id})}" th:inline="text">[[${note.fileName}]]</a></td>
                        <td th:text="${note.comment}"></td>
                        <td><a th:attr="data-href=@{/admin/note/notefiledelete/{id}(id=${note.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Related Notes</h3>
                <div id="noteNoteFormDivLink" style="float:right">
                    <a onclick="$('#noteNoteFormDiv').toggle();" class="fa fa-plus" title="Add Related Note"></a>
                </div>
                <div id="noteNoteFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="relatedNoteId">Related Note ID</label>
                            <input type="text" class="form-control" id="relatedNoteId" name="relatedNoteId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Related Note</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                        <th style="width:90%">Name</th>
                        <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                        <tr th:each="noteNote : ${note.noteNotes}">
                            <td th:text="${noteNote.relatedNote.title}"></td>
                            <td><a th:attr="data-href=@{/admin/note/notenotedelete/{notenoteid}(notenoteid=${noteNote.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Related Activities</h3>
                <div id="noteActivityFormDivLink" style="float:right">
                    <a onclick="$('#noteActivityFormDiv').toggle();" class="fa fa-plus" title="Add Activity"></a>
                </div>
                <div id="noteActivityFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="activityId">Activity ID</label>
                            <input type="text" class="form-control" id="activityId" name="activityId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Activity Relation</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                        <th style="width:80%">Name</th>
                        <th style="width:10%">Main Note</th>
                        <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                        <tr th:each="noteActivity : ${note.noteActivities}">
                            <td th:text="${noteActivity.activity.name}"></td>
                            <td>
                                <a th:href="@{/admin/note/togglemainnoteactivity/{noteactivityid}(noteactivityid=${noteActivity.id})}" class="fa fa-star" th:if="${noteActivity.mainNote}"></a>
                                <a th:href="@{/admin/note/togglemainnoteactivity/{noteactivityid}(noteactivityid=${noteActivity.id})}" class="fa fa-star-o" th:unless="${noteActivity.mainNote}"></a>
                            </td>
                            <td><a th:attr="data-href=@{/admin/note/noteactivitydelete/{noteactivityid}(noteactivityid=${noteActivity.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Related Time Series</h3>
                <div id="noteTimeSeriesFormDivLink" style="float:right">
                    <a onclick="$('#noteTimeSeriesFormDiv').toggle();" class="fa fa-plus" title="Add Related Time Series"></a>
                </div>
                <div id="noteTimeSeriesFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="timeSeriesId">Related Time Series ID</label>
                            <input type="text" class="form-control" id="timeSeriesId" name="timeSeriesId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Related Time Series</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <th style="width:80%">Name</th>
                    <th style="width:10%">Main Note</th>
                    <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                    <tr th:each="noteTimeSeries : ${note.noteTimeSeries}">
                        <td th:text="${noteTimeSeries.timeSeries.name}"></td>
                        <td>
                            <a th:href="@{/admin/note/togglemainnotetimeseries/{notetimeseriesid}(notetimeseriesid=${noteTimeSeries.id})}" class="fa fa-star" th:if="${noteTimeSeries.mainNote}"></a>
                            <a th:href="@{/admin/note/togglemainnotetimeseries/{notetimeseriesid}(notetimeseriesid=${noteTimeSeries.id})}" class="fa fa-star-o" th:unless="${noteTimeSeries.mainNote}"></a>
                        </td>
                        <td><a th:attr="data-href=@{/admin/note/notetimeseriesdelete/{notetimeseriesid}(notetimeseriesid=${noteTimeSeries.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Related Spidering Configurations</h3>
                <div id="noteSpideringConfigurationFormDivLink" style="float:right">
                    <a onclick="$('#noteSpideringConfigurationFormDiv').toggle();" class="fa fa-plus" title="Add Related Spidering Configuration"></a>
                </div>
                <div id="noteSpideringConfigurationFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="spideringConfigurationId">Related Spidering Configuration ID</label>
                            <input type="text" class="form-control" id="spideringConfigurationId" name="spideringConfigurationId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Related Spidering Configuration</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <th style="width:80%">Name</th>
                    <th style="width:10%">Main Note</th>
                    <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                    <tr th:each="noteSpideringConfiguration : ${note.noteSpideringConfigurations}">
                        <td th:text="${noteSpideringConfiguration.spideringConfiguration.name}"></td>
                        <td>
                            <a th:href="@{/admin/note/togglemainnotespideringconfiguration/{notespideringconfigurationid}(notespideringconfigurationid=${noteSpideringConfiguration.id})}" class="fa fa-star" th:if="${noteSpideringConfiguration.mainNote}"></a>
                            <a th:href="@{/admin/note/togglemainnotespideringconfiguration/{notespideringconfigurationid}(notespideringconfigurationid=${noteSpideringConfiguration.id})}" class="fa fa-star-o" th:unless="${noteSpideringConfiguration.mainNote}"></a>
                        </td>
                        <td><a th:attr="data-href=@{/admin/note/notetimeseriesdelete/{notespideringconfigurationid}(notespideringconfigurationid=${noteSpideringConfiguration.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Related Publishing Configurations</h3>
                <div id="notePublishingConfigurationFormDivLink" style="float:right">
                    <a onclick="$('#notePublishingConfigurationFormDiv').toggle();" class="fa fa-plus" title="Add Related Publishing Configuration"></a>
                </div>
                <div id="notePublishingConfigurationFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="timeSeriesId">Related Publishing Configuration ID</label>
                            <input type="text" class="form-control" id="publishingConfigurationId" name="publishingConfigurationId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Related Publishing Configuration</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <th style="width:80%">Name</th>
                    <th style="width:10%">Main Note</th>
                    <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                    <tr th:each="notePublishingConfiguration : ${note.notePublishingConfigurations}">
                        <td th:text="${notePublishingConfiguration.publishingConfiguration.name}"></td>
                        <td>
                            <a th:href="@{/admin/note/togglemainnotepublishingconfiguration/{notepublishingconfigurationid}(notepublishingconfigurationid=${notePublishingConfiguration.id})}" class="fa fa-star" th:if="${notePublishingConfiguration.mainNote}"></a>
                            <a th:href="@{/admin/note/togglemainnotepublishingconfiguration/{notepublishingconfigurationid}(notepublishingconfigurationid=${notePublishingConfiguration.id})}" class="fa fa-star-o" th:unless="${notePublishingConfiguration.mainNote}"></a>
                        </td>
                        <td><a th:attr="data-href=@{/admin/note/notepublishingconfigurationdelete/{notepublishingconfigurationid}(notepublishingconfigurationid=${notePublishingConfiguration.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Related Resource Loader Plugins</h3>
                <div id="noteResourceLoaderPluginFormDivLink" style="float:right">
                    <a onclick="$('#noteResourceLoaderPluginFormDiv').toggle();" class="fa fa-plus" title="Add Related Ressource Loader Plugin"></a>
                </div>
                <div id="noteResourceLoaderPluginFormDiv" style="display:none">
                    <form th:action="@{/admin/note/relationadd}" method="post">
                        <input type="hidden" name="noteId" th:value="${note.id}" />
                        <div class="form-group">
                            <label for="timeSeriesId">Related Resource Loader Plugin ID</label>
                            <input type="text" class="form-control" id="resourceLoaderPluginConfigurationId" name="resourceLoaderPluginConfigurationId" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Related Resource Loader Plugin</button>
                    </form>
                    <br />
                </div>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <th style="width:80%">Name</th>
                    <th style="width:10%">Main Note</th>
                    <th style="width:10%">Delete</th>
                    </thead>
                    <tbody>
                    <tr th:each="noteResourceLoaderPluginConfiguration : ${note.noteResourceLoaderPluginConfigurations}">
                        <td th:text="${noteResourceLoaderPluginConfiguration.resourceLoaderPluginConfiguration.name}"></td>
                        <td>
                            <a th:href="@{/admin/note/togglemainnoteresourceloaderpluginconfiguration/{noteResourceloaderpluginconfigurationid}(noteResourceloaderpluginconfigurationid=${noteResourceLoaderPluginConfiguration.id})}" class="fa fa-star" th:if="${noteResourceLoaderPluginConfiguration.mainNote}"></a>
                            <a th:href="@{/admin/note/togglemainnoteresourceloaderpluginconfiguration/{noteResourceloaderpluginconfigurationid}(noteResourceloaderpluginconfigurationid=${noteResourceLoaderPluginConfiguration.id})}" class="fa fa-star-o" th:unless="${noteResourceLoaderPluginConfiguration.mainNote}"></a>
                        </td>
                        <td><a th:attr="data-href=@{/admin/note/noteresourceloaderpluginconfigurationdelete/{noteResourceloaderpluginconfigurationid}(noteResourceloaderpluginconfigurationid=${noteResourceLoaderPluginConfiguration.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

<script>
      $('#content').summernote({
        placeholder: 'New note',
        tabsize: 2,
        height: 600,
toolbar: [
  ['style', ['style']],
  ['font', ['bold', 'underline', 'clear']],
  ['fontname', ['fontname']],
  ['color', ['color']],
  ['para', ['ul', 'ol', 'paragraph']],
  ['table', ['table']],
  ['insert', ['link', 'hr']],
  ['view', ['fullscreen', 'codeview']],
]
      });
    </script>
</body>
</html>