<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Activities</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/activity}">Activities</a></li>
        <li class="breadcrumb-item active" th:inline="text">Activities Instances for [[${activity.name}]]</li>
    </ol>
</nav>

<div th:if="${activityInstancesPage.totalPages  > 0}">
    <div th:replace="components/pagination :: pagination(path='/activity/activityinstances/' + ${activity.id}, page=${activityInstancesPage})"></div>
    <table class="table table-striped table-responsive-md">
        <thead>
        <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'id','started','finished','approved','resultdata','console','delete'} },sortables=${ {'id','started','finished'} },names=${ {'ID','Started','Finished','Approved','Result Data','Console','Delete'} },page=${activityInstancesPage},path='/activity/activityinstances/' + ${activity.id})" />
        </thead>
        <tbody>
        <tr th:each="activityInstance : ${activityInstancesPage.content}">
            <td th:text="${activityInstance.id}"></td>
            <td th:text="${activityInstance.started}"></td>
            <td>
                <span th:if="!${activityInstanceRunner.isActivityInstanceRunning(activityInstance)}" th:inline="text">[[${activityInstance.finished}]]</span>
                <span th:unless="!${activityInstanceRunner.isActivityInstanceRunning(activityInstance)}" th:inline="text" class="fa fa-spinner fa-pulse fa-2x fa-fw"></span>
            </td>
            <td th:text="${activityInstance.approved}"></td>
            <td>
                <div th:each="activityInstancePersistentData : ${activityInstance.activityInstancePersistentDatas}">
                    <span th:inline="text">[[${activityInstancePersistentData.dataKey}]]: [[${activityInstancePersistentData.dataValue}]]</span>
                </div>
            </td>
            <td><a href="#" onclick="$('#console-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/console/activityInstance/{id}(id=${activityInstance.id})}" data-toggle="modal" data-target="#consoleModal" class="fa fa-terminal"></a></td>
            <td><a th:href="@{/activity/activityedit/{id}(id=${activityInstance.id})}" class="fa fa-pencil" alt="Edit" title="Edit"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="consoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Console</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:500px">
                <iframe src="/console/" id="console-iframe" style="width:100%;height:100%" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<!-- <t:actionlink t:id="clearActivityInstances" class="glyphicon glyphicon-trash" title="Clear activity instances" alt="Clear activity instances"></t:actionlink> -->

<footer th:replace="layout :: site-footer" />
</body>
</html>