<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Activities</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Activities</li>
    </ol>
</nav>

<div class="container">
<form id="selectTagForm" action="#" th:action="@{/activity/selectactivitycategory}" method="post" onchange="this.submit();">
    <div class="form-group">
        <label for="selectedActivityCategory">Filter Category</label>
        <select class="form-control" id="selectedActivityCategory" name="selectedActivityCategory">
            <option th:value="0" text=""
                    th:selected="(null == ${selectedActivityCategory})"></option>
            <option th:each="activityCategory : ${activityCategories}"
                    th:value="${activityCategory.id}"
                    th:text="${activityCategory.name}"
                    th:selected="(${activityCategory.id} == ${selectedActivityCategory})">
                Tag
            </option>
        </select>
    </div>
    </div>
</form>
</div>

<div style="float:right"><a th:href="@{/activity/activityedit}" class="fa fa-plus fa-2x" title="Add Activity" alt="Add Activity"></a>&nbsp;&nbsp;&nbsp;</div>
<div th:if="${activitiesPage.totalPages  > 0}">
    <div th:replace="components/pagination :: pagination(path='/activity', page=${activitiesPage})"></div>

    <table class="table table-striped table-responsive-md">
        <thead>
        <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'id','name','info','run','runwithparameters','schedule','edit','delete'} },sortables=${ {'id','name'} },names=${ {'ID','Name','Info','Run','with Parameters','Schedule','Edit','Delete'} },page=${activitiesPage},path='/activity')" />
        </thead>
        <tbody>
        <tr th:each="activity : ${activitiesPage.content}">
            <td th:text="${activity.id}"></td>
            <td><a th:href="@{/activity/activityinstances/{activityid}/(activityid=${activity.id})}" th:inline="text">[[${activity.name}]]</a></td>
            <td><a href="#" onclick="$('#standard-modal-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/noteviewer/(activityId=${activity.id})}" data-toggle="modal" data-target="#standardModal" class="fa fa-info"></a></td>
            <td><a th:href="@{/activity/activityrun/{id}(id=${activity.id})}" class="fa fa-play" alt="Run" title="Run"></a></td>
            <td><a href="#" onclick="$('#standard-modal-iframe').attr('src',$(this).attr('lnk'))" th:attr="lnk=@{/activity/activityrunwithparameters/{id}(id=${activity.id})}" data-toggle="modal" data-target="#standardModal" class="fa fa-forward"></a></td>
            <td>
                <th:block th:if="${!#strings.isEmpty(activity.cronSchedule)}">
                    <span th:if="${activity.cronScheduleEnabled}"><a th:href="@{/activity/activitydeleteschedule/{id}(id=${activity.id})}" class="fa fa-stop" alt="Disable Scheduling" title="Disable Scheduling"></a></span>
                    <span th:unless="${activity.cronScheduleEnabled}"><a th:href="@{/activity/activityschedule/{id}(id=${activity.id})}" class="fa fa-clock-o" alt="Enable Scheduling" title="Enable Scheduling"></a></span>
                </th:block>
            </td>
            <td><a th:href="@{/activity/activityedit/{id}(id=${activity.id})}" class="fa fa-pencil" alt="Edit" title="Edit"></a></td>
            <td><a th:attr="data-href=@{/activity/activitydelete/{id}(id=${activity.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>