<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<h1 th:inline="text">Notes for: [[${name}]]</h1>

        <div class="actions">
            <a target="_parent" th:href="@{/admin/note/createnoteforentity(${entityType} + 'Id'=${entityId})}" class="fa fa-plus" alt="Add Note For Entity" title="Add Note For Entity"></a>
        </div>
        <th:block th:if="${mainNotes != null}">
            <div th:each="note : ${mainNotes}">
                <h3 th:inline="text">[[${note.title}]]</h3>
                <div><pre th:utext="${note.content}"></pre></div>
                <a target="_parent" th:href="@{/admin/note/noteedit/{id}(id=${note.id})}" class="fa fa-pencil" alt="Edit Note" title="Edit Note"></a>
                <hr />
            </div>
        </th:block>

        <th:block th:if="${relatedNotes != null}">
            <h2>Further Related Notes</h2>
            <table class="table table-striped table-responsive-md" style="width:100%">
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="note : ${relatedNotes}">
                        <td>
                        <a target="_parent" th:href="@{/admin/note/noteedit/{id}(id=${note.id})}" th:inline="text">[[${note.title}]]</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </th:block>

</body>
</html>