<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<h1 th:inline="text">Notes for: [[${name}]]</h1>

<div class="layout-grid-col-holder">

    <div class="layout-grid-col2">
        <div class="actions">
            <a target="_parent" href="${getCreateNewNoteLink()}" class="glyphicon glyphicon-plus" alt="Add Note For Entity" title="Add Note For Entity"></a>
        </div>
        <div th:if="${mainNotes != null}">
            <t:loop source="mainNotes" value="note">
                <h3>${note.title}</h3>
                <div><pre><t:outputraw value="note.content" /></pre></div>
                <t:pagelink target="_parent" page="admin/note/managenote" context="note.id" class="glyphicon glyphicon-eye-open" alt="View Note" title="View Note"></t:pagelink>
                <hr />
            </t:loop>
            <t:parameter name="else">
                No notes available!
            </t:parameter>
        </div>

        <t:if test="notes">
            <h2>Further Related Notes</h2>
            <t:grid source="notes" row="note" exclude="content,created,lastUpdated,id">
                <t:parameter name="titleCell">
                    <t:pagelink target="_parent" page="admin/note/managenote" context="note.id">${note.title}</t:pagelink>
                </t:parameter>
            </t:grid>
        </t:if>

    </div>

</div>
</body>
</html>