<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Edit Note</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active">Edit Homepage Content</li>
    </ol>
</nav>
<message th:replace="layout :: message"/>

<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            <form id="homepageContentForm" action="#" th:action="@{/admin/homepagemanager/}" method="post">
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" style="height:600px" th:inline="text">[[${homepageContent}]]</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>