<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>KSFX - Information Retrieval</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Information Retrieval</li>
    </ol>
</nav>
<div th:if="${spideringConfigurationsPage.totalPages  > 0}">
    <div th:replace="components/pagination :: pagination(path='/informationretrieval', page=${spideringConfigurationsPage})"></div>
    <div style="float:right"><a th:href="@{/informationretrieval/spideringconfigurationedit}" class="fa fa-plus fa-2x" title="Add Spidering Configuration" alt="Add Spidering Configuration"></a>&nbsp;&nbsp;&nbsp;</div>
    <table class="table table-striped table-responsive-md">
        <thead>
        <header th:replace="components/sortable_table_header :: tableheader(headers=${ {'id','name','spiderings','runspidering','schedule','edit','delete'} },sortables=${ {'id','name'} },names=${ {'ID','Name','Spiderings','Run Spidering','Schedule','Edit','Delete'} },page=${spideringConfigurationsPage},path='/informationretrieval')" />
        </thead>
        <tbody>
        <tr th:each="spideringConfiguration : ${spideringConfigurationsPage.content}">
            <td th:text="${spideringConfiguration.id}"></td>
            <td><a th:href="@{/informationretrieval/result/{id}(id=${spideringConfiguration.id})}" th:inline="text">[[${spideringConfiguration.name}]]</a></td>
            <td><a th:href="@{/informationretrieval/spideringsviewer/{id}(id=${spideringConfiguration.id})}" class="fa fa-list"></a></td>
            <td><a th:href="@{/informationretrieval/spideringconfigurationrun/{id}(id=${spideringConfiguration.id})}" class="fa fa-play"></a></td>
            <td>
                <th:block th:if="${!#strings.isEmpty(spideringConfiguration.cronSchedule)}">
                    <span th:if="${spideringConfiguration.cronScheduleEnabled}"><a th:href="@{/informationretrieval/spideringconfigurationdeleteschedule/{id}(id=${spideringConfiguration.id})}" class="fa fa-stop" alt="Disable Scheduling" title="Disable Scheduling"></a></span>
                    <span th:unless="${spideringConfiguration.cronScheduleEnabled}"><a th:href="@{/informationretrieval/spideringconfigurationschedule/{id}(id=${spideringConfiguration.id})}" class="fa fa-clock-o" alt="Enable Scheduling" title="Enable Scheduling"></a></span>
                </th:block>
            </td>
            <td><a th:href="@{/informationretrieval/spideringconfigurationedit/{id}(id=${spideringConfiguration.id})}" class="fa fa-pencil" alt="Edit" title="Edit"></a></td>
            <td><a th:attr="data-href=@{/informationretrieval/spideringconfigurationdelete/{id}(id=${spideringConfiguration.id})}" data-toggle="modal" data-target="#standard-confirm" class="fa fa-trash-o" alt="Delete" title="Delete"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout :: site-footer" />
</body>
</html>